Olabode Alamu
1498663
A guide to engineering data science 
Fun-work 1

1a

In [38]:
# Data sources
# Web sources
# CSV - Comma Separated Values
# Excel
# Text files
# json files

1c Install missing packages

In [30]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

2a Data types in python

In [2]:
# 1 Strings
# 2 Integer
# 3 Lists
# 4 Dictionary
# 5 Tuples


2b Basic operations
Strings

In [3]:
z = 'eggs'

In [4]:
v = 'chicken'

In [5]:
z + ' ' + v # String concatenation

'eggs chicken'

In [6]:
z * 3

'eggseggseggs'

Integer

In [12]:
c = 2  # Integer type
d = 4

In [13]:
c + c  # addition

4

In [15]:
c * d  # multiplication

8

In [16]:
c / d # division

0.5

In [17]:
d - c # Substraction

2

List

In [31]:
b = ['new','clothes','are','good']  # Lists
f = ['and','watches','too']
Continent = ['Europe','America','Asia']

In [22]:
b

['new', 'clothes', 'are', 'good']

In [23]:
b * 2

['new', 'clothes', 'are', 'good', 'new', 'clothes', 'are', 'good']

In [25]:
b + f  # List concatenation

['new', 'clothes', 'are', 'good', 'and', 'watches', 'too']

 Dictionary

In [26]:
dict = {'Country':['Germany','USA','Japan'], 'Capital':['Berlin', 'Washington DC', 'Tokyo']}

In [27]:
dict

{'Capital': ['Berlin', 'Washington DC', 'Tokyo'],
 'Country': ['Germany', 'USA', 'Japan']}

In [28]:
dict['Capital']

['Berlin', 'Washington DC', 'Tokyo']

2c

In [34]:
df = DataFrame(data = dict, index = Continent ) # Pandas DataFrame object

In [35]:
df

               Capital  Country
Europe          Berlin  Germany
America  Washington DC      USA
Asia             Tokyo    Japan

In [37]:
df.to_csv('new.csv')