The objective of this notebook is to train a classifer algorithm to tell the difference between positive tweet and a negative tweet. This is a small part of a larger project which would culminate into a web app which fetches tweets on a particular topic and returns the positive and negative sentiment ratings.

In [ ]:
# Import the needed libraries
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import re

In [30]:
column_names = ['polarity','id','Time','Query','Name','Tweet']
tweet_data = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1', header = None,names=column_names)

In [31]:
tweet_data.head(5)

,polarity,id,Time,Query,Name,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [32]:
tweet_data.describe()

           polarity            id
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [33]:
# Drop columns that are not useful
dropped = ['id','Time','Query','Name']

In [34]:
tweet_data.drop(labels = dropped, axis = 1, inplace = True)

In [35]:
test = tweet_data.head(5)

In [36]:
test

   polarity                                              Tweet
0         0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1         0  is upset that he can't update his Facebook by ...
2         0  @Kenichan I dived many times for the ball. Man...
3         0    my whole body feels itchy and like its on fire
4         0  @nationwideclass no, it's not behaving at all....

In [37]:
for tweet in test['Tweet']:
    print(tweet)

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!
@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds
my whole body feels itchy and like its on fire
@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.

In [38]:
tweet_data['Length of Tweet'] = tweet_data['Tweet'].apply(len)

In [39]:
tweet_data.head()

,polarity,Tweet,Length of Tweet
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",115
1,0,is upset that he can't update his Facebook by ...,111
2,0,@Kenichan I dived many times for the ball. Man...,89
3,0,my whole body feels itchy and like its on fire,47
4,0,"@nationwideclass no, it's not behaving at all....",111